.sidebar {
  grid-area: sidebar;
  background-color: $gray-color;
  border-radius: $border-radius;
  
  @media #{$tablet} {
    display: none;
  }

  .form {
    
    &__control {
      padding: 10px;
      position: relative;
      margin-bottom: 10px;

      & > button {
        color: $title-color;
        font-weight: 600;
        padding: 5px 10px;
        background-color: white;
        border: 1px solid $text-color;
        border-radius: 5px;
        outline: none;

        &:hover {
          cursor: pointer;
          border-color: $title-color; 
          color: $blue-color;
        }
      }
    }

    &__input {
      width: 100%;
      outline: none;
      background-color: white;
      border: 1px solid $text-color;
      border-radius: $border-radius;
      padding: 5px;
      box-sizing: border-box;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        border-color: $title-color;
      }
    }

    &__error{
      position: absolute;
      top: 100%;
      left: 10px;
      color: red;
      font-size: 12px;
    }

    &__label {
      color: $title-color;
      font-size: 1.6rem;
      font-weight: 700;
      margin-bottom: 5px;
      display:block;
    }
  }
}

.select {
  &__control {
    background-color: white;
    border: 1px solid $text-color!important;
    border-radius: $border-radius;
    position: relative;
    box-sizing: border-box;
    outline:none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      border-color: transparent!important;
      outline: $blue-color solid 1px!important;
    }
  }

  &__menu {
        position: absolute;
        background-color: white;
        top: calc(100% - 2px);
        left: -1px;
        width: calc(100% + 2px);
        box-sizing: border-box;
        z-index:2;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color:  transparent $text-color $text-color $text-color;

      }
}
.input {
  display: none;

  &__label {
    font-size: 1.4rem;
    margin-left: 10px;
    font-weight: 600;
    
    &:hover {
      cursor: pointer;
      color: $title-color;
    }
  }

  &__wrap {
    margin: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__tick {
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border:1px solid $text-color;
    border-radius: $border-radius;

    &:hover {
      cursor: pointer;
      border:2px solid $text-color;
    }
    
    &.checked {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url(../assets/checked.svg);
    }

    &--rounded {
      border-radius: 50%;

      &.checked {
        background-image: url(../assets/circle.svg);
        background-size: 60% 60%;
      }
    }

    &--green.checked {
      background-image: url(../assets/checked-green.svg);
    }

  }
}

 // & > div {
 //          padding: 5px;
          
 //          &:hover {
 //            color: $title-color;
 //            background-color: $gray-color;
 //            transition: all 0.5s;
 //          }
 //        }