$blue-color: #56d9f5;
$text-color: #60605a; 
$light-text-color: #b2b2b2;
$light-gray-color: #dedede;
$gray-color:#f5f6f1;
$title-color:#33312f;
$green-color: #7aa20e;

$border-radius: 3px;

$tablet: "(max-width: 780px)";
